@font-face {
    font-family: CGPfont;
    src: url("font/ADAM.CG_PRO.otf") format("opentype");
}
body { 
  background: url('bkg/bkg.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Montserrat Alternates';font-size: 22px;
}

#main{
background-color:rgba(0, 0, 0, 0.67);
width:75%;
height: 87%;
color:#e1e4ea;
overflow :auto;
}
h1 {
font-size:120px;
font-family:'CGPfont';
letter-spacing: 20px;
}
h2 {
font-size:80px;
font-family:'CGPfont';
letter-spacing: 5px;
}

hr {
    margin-left: 10% !important;
	margin-right: 10% !important;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

#onglet { 
	margin-top : 30%;
	font-size:25px;
}

.arrow-left {
	
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 130px 285px 0 0;
	border-color: rgba(255, 255, 255, 0.7) transparent transparent transparent;
	position : absolute;
	z-index:-1;

	
}

.arrow-right {
	
width: 0;
height: 0;
border-style: solid;
border-width: 0 285px 130px 0;
position : absolute;
z-index:-1;
border-color: transparent rgba(255, 255, 255, 0.7) transparent transparent;
top : 0px;
right : 0px;
	
}

#fl { 
top : 25px;
right : 1%;
position : absolute;
border-radius: 15px;
}

#fl0 { 
top : 25px;
right : 4%;
position : absolute;
border-radius: 15px;
}

#footer {
  text-align: center;
  margin: auto;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background-color:rgba(0, 0, 0, 0.7);
  font-family: Montserrat Alternates;
  font-size : 15px;
  letter-spacing: 3px;
  padding: 5px;
  color:#e1e4ea;
  transition: margin-left .5s;
  height: 30px;
}

#p_al {
  text-align: justify;
}
p {
  transition: margin-left .5s;
	]

.form-control {
	width: 20%;
}
.form {
	margin-top : 20%;
}
.btn-primary {
	max-width: 15%;
}

.btn_menu2 {
	background-color : #111;
	border : none;
	padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.btn_menu2:hover {
	transition: 0.3s;
	color: #f1f1f1;
	text-decoration: underline;
	touch-action: manipulation;
	cursor:pointer;
}

#cont_2 {
	margin-left: 5%;
	margin-right: 5%;
	font-size: 20px;
}








